{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>

<form method="post">
    {% csrf_token %}
    <div class="container-fluid px-1 py-5 mx-auto">
        <div class="col-9">
            <div class="">
                <label class="mr-4" for="username">Username</label>
                <input type="text" id="username" name="username" class="col-4 px-2" placeholder="Please enter username"
                    required />
            </div>

            <div class="mb-4">
                <label class="mr-4 pr-1" for="password">Password</label>
                <input type="password" id="password" class="col-4 px-2" name="password"
                    placeholder="Please enter password"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" required />
            </div>
        </div>
        <input type="submit" class="btn btn-dark ml-3" value="Login">
    </div>
</form>

{% endblock content %}

{% block script %}
function validate(val) {
v1 = document.getElementById("username");
v2 = document.getElementById("password");


flag1 = true;
flag2 = true;

if(val>=1 || val==0) {
if(v1.value == "") {
v1.style.borderColor = "red";
flag1 = false;
}
else {
v1.style.borderColor = "green";
flag1 = true;
}
}

if(val>=2 || val==0) {
if(v2.value == "") {
v2.style.borderColor = "red";
flag2 = false;
}
else {
v2.style.borderColor = "green";
flag2 = true;
}
}

flag = flag1 && flag2;

return flag;
}
{% endblock script %}